<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense App</title>
</head>
<body>
    <div class="container">
        <h1>login Screen</h1>
        <div class="form">
            <form action="/user/login" method="post" class="form" onsubmit="Login(event)">
                
                  <div class="email">
                      <label>Email</label><br>
                      <input type="text" name="email" required id="emailid">
                  </div>
                  <div class="password">
                       <label>Password</label><br>
                       <input type="password" name="password" required id="passid">
                  </div>
                 <button type="submit">login</button>
                 
            </form>
            <a href="../signup/Signup.html">NewUser?Signup</a><br><br>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="./login.js"></script>


</body>
</html>